{% load static %}
<!DOCTYPE html><html lang="en">

<head>

    <meta charset="utf-8">

    <title>PathSoft - #1 The Fastest HTML5 Template</title>

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        
    <link rel="icon" href="{% static '/img/favicon/favicon.ico' %}" type="image/x-icon"> 

    <link rel="stylesheet" href="{% static '/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="preload" href="{% static '/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static '/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static '/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static '/fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2' %}" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="{% static '/fonts/material-icons/material-icons.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static '/fonts/material-icons/material-icons-outlined.woff2' %}" as="font" type="font/woff2" crossorigin>

</head>

<body>

	<main class="main">
		
		<div class="main-inner">

			<!-- Begin mobile main menu -->
<nav class="mmm">
	
	{% if user.is_authenticated and user.is_prestataire %}
	<div class="mmm-content">
        <ul class="mmm-list">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#">Prestation de service</a>
            </li>
            <li>
                <a href="{% url 'deco' %}">deconexion</a>
            </li>
            <li>
				<a class="buttons" style="color: #5B8AD1;" href="{% url 'dash' %}">Dashbord</a>
			</li>
        </ul>
    </div>
	{% elif  user.is_authenticated and user.is_commandeur %}
	<div class="mmm-content">
        <ul class="mmm-list">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#">Prestation de service</a>
            </li>
            <li>
                <a href="{% url 'login' %}">deconexion</a>
            </li>
            <li>
				<a class="buttons" style="color: #5B8AD1;" href="{% url 'dash_client' %}">Tableau de Bord</a>
			</li>
        </ul>
    </div>
	{% else %}
	<div class="mmm-content">
        <ul class="mmm-list">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#">Prestation de service</a>
            </li>
            <li>
                <a href="{% url 'login' %}">se conecter</a>
            </li>
            <li>
				<a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Devenir prestataire</a>
			</li>
        </ul>
    </div>
	{% endif %}
		
    
</nav><!-- End mobile main menu -->

<header class="header header-minimal">
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto header-fixed-col logo-wrapper">
                    <a href="index.html" class="logo" title="PathSoft">
                        <img src="{% static '/img/logo.svg' %}" width="115" height="36" alt="PathSoft">
                    </a>
                </div>
                <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                    <div class="row flex-nowrap align-items-center justify-content-end">
                        <div class="col header-fixed-col d-none d-xl-block col-static">
                            <!-- Begin main menu -->
<nav class="main-mnu">
	
	{% if user.is_authenticated and user.is_prestataire %}
	<ul class="main-mnu-list">
        <li>
            <a href="index.html" data-title="Home">
                <span>Home</span>
            </a>
        </li>
        <!-- <li>
            <a href="services.html" data-title="Prestation de service">
                <span>Prestation de service</span>
            </a>
        </li> -->
        <li>
            <a href="{% url 'deco' %}" data-title="deconexion">
                <span>deconexion</span>
            </a>
        </li>
        <li>
			<a class="buttons" style="color: #5B8AD1;" href="{% url 'dash' %}">Tableau de bord</a>
        </li>
    </ul>
	{% elif user.is_authenticated and user.is_commandeur %}
	<ul class="main-mnu-list">
        <li>
            <a href="index.html" data-title="Home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="services.html" data-title="Prestation de service">
                <span>Prestation de service</span>
            </a>
        </li>
        <li>
            <a href="{% url 'deco' %}" data-title="deconexion">
                <span>deconexion</span>
            </a>
        </li>
        <li>
			<a class="buttons" style="color: #5B8AD1;" href="{% url 'dash_client' %}">Tableau de bord</a>
        </li>
    </ul>
	{% else %}
	<ul class="main-mnu-list">
        <li>
            <a href="index.html" data-title="Home">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="services.html" data-title="Prestation de service">
                <span>Prestation de service</span>
            </a>
        </li>
        <li>
            <a href="{% url 'login' %}" data-title="se conecter">
                <span>se conecter</span>
            </a>
        </li>
        <li>
			<a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Devenir prestataire</a>
        </li>
    </ul>
	{% endif %}
		
    
</nav><!-- End main menu -->
                        </div>
                    </div>
                </div>
                <div class="col-auto d-block d-xl-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

			<div class="section-bgc intro">
				<div class="intro-item intro-item-type-1" style="background-image: url('/static/img/service2.jpg');">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="intro-content" style="--margin-left: 4rem;">
									<div class="section-heading shm-none">
										<h1>#1 The Fastest HTML5 Template</h1>
										<p class="section-desc">Réservez une aide fiable pour toutes vos taches</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="section">
				<div class="container">
					<div class="row">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Areas what we serv</div>
								<h2>Our Services</h2>
							</div>
						</header>
						
						{% for data in  data %}
						<div class="col-lg-4 col-md-6 col-12 item">
							<a href="{% url 'cat_detais' data.nom %}" class="iitem item-style iitem-hover">
								<div class="iitem-icon">
									<!-- <i class="fa-solid fa-house" width="100px"></i> -->
									<img src="/static/img/maison1-removebg-preview.png" alt="">
								</div>
								<div class="iitem-icon-bg">
									<i class="fa-solid fa-house"></i>
								</div>
								<h3 class="iitem-heading item-heading-large">{{data.nom}}</h3>
								<div class="iitem-desc">{{data.description}}</div>
							</a>
						</div>
						{% endfor %}
				
						<div class="section-footer col-12 section-footer-animate">
							<div class="btn-group align-items-center justify-content-center">
								<a href="#!" class="btn btn-with-icon btn-w240 ripple">
									<span>See All Services</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			
			<section class="section section-without-padding-bottom" style="margin-left: 12%;">
				<div class="container">
					<div class="row items spincrement-container">
						<div class="col-xl-3 col-md-6 col-12 item" style="margin-right: 10%;">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">history</i>
									</div>
									<div class="counter-min-numb spincrement" data-from="0" data-to="5">0</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Years Of Experience</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12 item" style="margin-left: 5%;">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">chat</i>
									</div>
									<div class="counter-min-numb spincrement" data-from="0" data-to="{{prest|length}}">0</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Prestataire</h4>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>

			<section>
				<div class="container">
					<div class="row litems">
						
						<div class="col-lg-4 col-md-6 col-12 litem" style="margin-top: 38px;">
							<div class="ini">
								<div class="ini-info">
									<p class="ini-heading item-heading-large">Votre satisfaction garantie</p>
									<p style="color: #5B8AD1;">Gage de bonheur</p>
									<div class="ini-desc">
										<p>Si vous n'êtes pas satisfait, nous nous efforcerons d'y remédier.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 litem" >
							<div class="ini" style="margin-top: 38px;">
								<div class="ini-info">
									<h3 class="ini-heading item-heading-large"></h3>
									<p style="color: #5B8AD1;">Prestataire approuve</p>
									<div class="ini-desc">
										<p>Les antécédents des prestataire sont toujours vérifiés avant de rejoindre la plateforme</p>
									</div>
								</div>
							</div>
						</div>
			</section>

<!-- Begin footer -->
<footer class="footer footer-minimal">
    <div class="footer-main">
        <div class="container">
            <div class="row items align-items-center">
                <div class="col-lg-3 col-md-4 col-12 item">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <h3>lien utiles</h3>
							<nav class="footer-nav">
								<ul class="footer-mnu">
									<li><a href="#!" class="hover-link" data-title="Home"><span>Home</span></a></li>
									<li><a href="#!" class="hover-link" data-title="About us"><span>Nos services</span></a></li>
									<li><a href="#!" class="hover-link" data-title="Services"><span>S'inscrire</span></a></li>
									<li><a href="#!" class="hover-link" data-title="News"><span>Devenir prestataire</span></a></li>
									
								</ul>
							</nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12 item">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <h3>Téléchargez notre application</h3>
							<p>Traitez votre liste de tâches où que vous soyez grâce à notre application mobile.</p>
							<a href="#"><img src="/static/img/play.png" width="120px" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2022 psFree. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

	</main><!-- End main -->
<script src="https://kit.fontawesome.com/f082bb483b.js" crossorigin="anonymous"></script>
<script src="{% static '/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static '/libs/lozad/lozad.min.js' %}"></script>
<script src="{% static '/libs/device/device.js' %}"></script>
<script src="{% static '/libs/spincrement/jquery.spincrement.min.js' %}"></script>
<script src="{% static '/libs/pristine/pristine.min.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>
<script src="{% static '/js/forms.js' %}"></script>
	
</body></html>