{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> ~ Prestataires ~</title>
    <link rel="stylesheet" href="{% static 'css/prestataire.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">    
    <link rel="icon" href="{% static '/img/favicon/favicon.ico' %}" type="image/x-icon"> 
    <link rel="stylesheet" href="{% static '/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="preload" href="{% static '/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static '/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static '/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static '/fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2' %}" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="{% static '/fonts/material-icons/material-icons.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static '/fonts/material-icons/material-icons-outlined.woff2' %}" as="font" type="font/woff2" crossorigin>
</head>
<body>

<main class="main">
	<div class="main-inner">    
            <nav class="mmm">
            
                {% if user.is_authenticated and user.is_prestataire %}
                <div class="mmm-content">
                    <ul class="mmm-list">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Prestation de service</a>
                        </li>
                        <li>
                            <a href="{% url 'deco' %}">deconexion</a>
                        </li>
                        <li>
                            <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Devenir prestataire</a>
                        </li>
                    </ul>
                </div>
                {% elif  user.is_authenticated and user.is_commandeur %}
                <div class="mmm-content">
                    <ul class="mmm-list">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Prestation de service</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">deconexion</a>
                        </li>
                        <li>
                            <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Tableau de Bord</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="mmm-content">
                    <ul class="mmm-list">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Prestation de service</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">se conecter</a>
                        </li>
                        <li>
                            <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Devenir prestataire</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                    
                
            </nav><!-- End mobile main menu -->
            
            <header class="header header-minimal">
                <nav class="header-fixed">
                    <div class="container">
                        <div class="row flex-nowrap align-items-center justify-content-between">
                            <div class="col-auto header-fixed-col logo-wrapper">
                                <a href="index.html" class="logo" title="PathSoft">
                                    <img src="{% static '/img/logo.svg' %}" width="115" height="36" alt="PathSoft">
                                </a>
                            </div>
                            <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                                <div class="row flex-nowrap align-items-center justify-content-end">
                                    <div class="col header-fixed-col d-none d-xl-block col-static">
                                        <!-- Begin main menu -->
            <nav class="main-mnu">
                
                {% if user.is_authenticated and user.is_prestataire %}
                <ul class="main-mnu-list">
                    <li>
                        <a href="index.html" data-title="Home">
                            <span>Home</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="services.html" data-title="Prestation de service">
                            <span>Prestation de service</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="{% url 'deco' %}" data-title="deconexion">
                            <span>deconexion</span>
                        </a>
                    </li>
                    <li>
                        <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Tableau de bord</a>
                    </li>
                </ul>
                {% elif user.is_authenticated and user.is_commandeur %}
                <ul class="main-mnu-list">
                    <li>
                        <a href="index.html" data-title="Home">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html" data-title="Prestation de service">
                            <span>Prestation de service</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'deco' %}" data-title="deconexion">
                            <span>deconexion</span>
                        </a>
                    </li>
                    <li>
                        <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Tableau de bord</a>
                    </li>
                </ul>
                {% else %}
                <ul class="main-mnu-list">
                    <li>
                        <a href="index.html" data-title="Home">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html" data-title="Prestation de service">
                            <span>Prestation de service</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" data-title="se conecter">
                            <span>se conecter</span>
                        </a>
                    </li>
                    <li>
                        <a class="buttons" style="color: #5B8AD1;" href="{% url 'prestForm' %}">Devenir prestataire</a>
                    </li>
                </ul>
                {% endif %}
                    
                
            </nav><!-- End main menu -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto d-block d-xl-none header-fixed-col">
                                <div class="main-mnu-btn">
                                    <span class="bar bar-1"></span>
                                    <span class="bar bar-2"></span>
                                    <span class="bar bar-3"></span>
                                    <span class="bar bar-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

          
            <div class="container" style=" margin-top: 20px;">
                <div class="row">
                    
                    <div class="col-md-3">
                        <!-- Bloc d'informations (Filter) -->
                        <div class="bloc_info" style="margin-top: 40px; height: 90%;">
                            <img width="90px" class="card-img-top"src="{% static 'img/WhatsApp Image 2024-01-08 à 21.47.45_b11cf277.jpg' %}"alt="Photo prestataire">
                            <p>{{ prestataire.user.last_name }} {{ prestataire.user.first_name }}</p>
                            <p>moyenne: {{moy}}</p>
                        </div>
        
                        
                    </div>

                    <div class="col-md-9">
                        <!-- Bloc des prestataires -->
                        <div class="Prestataires">
                            <h2 class="text-center">Prestataires </h2>
                            <h5>Commande({{commandes|length}})</h5>
                            <div class="row">
                                {% for commande in commandes %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ commande.client.user.first_name }}</h5>
                                            <p class="card-text">{{ commande.client.quartier }}</p>
                                                <a href=""><button class="btn btn-danger " type="submit">Commander</button></a>  
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    
                </div>
               
            </div>
        
   </div>
   </div> 
        <footer>
            <div class="Bloc_conteneur">
                <div class="bloc_link">
                    <h3>Liens utiles</h3>
                    <p>Nos services <br>S'inscrire <br>Devenir Prestataire</p>
                </div>
                <div class="bloc_download">
                    <h3>Télécharger l'application</h3>
                    <p>Traiter votre liste de taches où que vous soyez grace à notre application mobile</p>
                    <a href="#"><img class="apps_btn" src="{% static 'img/Google_Play_Store_badge_EN.svg.png' %}" alt="Google_Play_Store_badge"></a>
                </div>
            </div>
            © 2021 - Tous droits réservés.
        </footer>
    </div>

<script src="https://kit.fontawesome.com/f082bb483b.js" crossorigin="anonymous"></script>
<script src="{% static '/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static '/libs/lozad/lozad.min.js' %}"></script>
<script src="{% static '/libs/device/device.js' %}"></script>
<script src="{% static '/libs/spincrement/jquery.spincrement.min.js' %}"></script>
<script src="{% static '/libs/pristine/pristine.min.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>
<script src="{% static '/js/forms.js' %}"></script>
</body>
</html>